<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Page</title>
  </head>
  <body>
    <form action="/itemList" method="post">
      <label for="item-name">item name</label>
      <input type="text" name="item-name" id="item-name">
      <button type="submit">Add</button>      
    </form>
  </body>
</html>
